<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ComingUpVideoServer.Properties.Settings.AutoScheduleConnectionString"
      connectionString="Data Source=192.168.100.73;Initial Catalog=AutoSchedule;Persist Security Info=True;User ID=sa;Password=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AeRenderPath" value="C:\Program Files\Adobe\Adobe After Effects CC\Support Files\aerender.exe"/>
    <add key="OutputPath" value="D:\OUTPUT\ComingUpVideo\"/>
    <add key="AeProjectFile" value="D:\AEPROJECTS\ComingUpVideo\ComingupNextVideo.aep"/>
    <add key="XmlDataFile" value="D:\AEPROJECTS\ComingUpVideo\DataXML\CUNVData.xml"/>
    <add key="VideosPath" value="D:\AEPROJECTS\ComingUpVideo\(Footage)\"/>
    <add key="RenderIntervalMin" value="00:35#02:35#04:35#06:35#08:35#10:35#12:35#14:35#16:35#18:35#20:35#22:35"/>
    <add key="Composition" value="Coming up Next 01 Export"/>
    <add key="OutPutFileName" value="CUP_Video"/>
    <add key="ScheduleDestFileName" value="D:\FINAL\CUP_VIDEO.mp4"/>
    <add key="TimeScheduleMinute" value="33"/>
    <add key="TitleLenght" value="40"/>
  </appSettings>
</configuration>